<!-- Contact -->
<section id="contact">
	<div class="inner">
		<section>
			<h1 class="major">Get in Touch</h1>
			<form action="https://api.web3forms.com/submit" method="POST">
				<input type="hidden" name="access_key" value="b7a79cb9-5a09-4811-9746-d10b74ab8714">
				<div class="field half first">
					<label for="name">Name</label>
					<input type="text" name="name" id="name" required />
				</div>
				<div class="field half">
					<label for="email">Email</label>
					<input type="text" name="_replyto" id="email" required />
				</div>
				<div class="field">
					<label for="message">Message</label>
					<textarea name="message" id="message" rows="6" required></textarea>
				</div>
				<div class="field">
					<fieldset>
						<legend>What are your goals?</legend>
						{% for field in site.data.form %}
						<div class="field half">
							<input type="checkbox" id="{{ field.id }}" name="{{ field.id }}">
							<label for="{{ field.id }}">{{ field.label }}</label>
						</div>
						{% endfor %}
						<div class="field half">
							<input type="checkbox" id="other" name="other">
							<label for="other">Other</label>
						</div>
					</fieldset>
				</div>
				<ul class="actions">
					<li><input type="submit" value="Send Message" class="special" /></li>
					<li><input type="reset" value="Clear" /></li>
				</ul>
			</form>
		</section>
		<section class="split">
			<section>
				<div class="contact-method">
					<span class="icon alt fa-envelope"></span>
					<h3>Email</h3>
					<a href="mailto:{{ site.email }}">{{ site.email }}</a>
				</div>
			</section>
			{% if site.phone %}
			<section>
				<div class="contact-method">
					<span class="icon alt fa-phone"></span>
					<h3>Phone</h3>
					<a href="tel:{{ site.phone }}">{{ site.phone }}</a>
				</div>
			</section>
			{% endif %}
			{% if site.street_address %}
			<section>
				<div class="contact-method">
					<span class="icon alt fa-home"></span>
					<h3>Address</h3>
					<span>
					{% if site.gym_name %}
					    {{ site.gym_name }}<br />
					{% endif %}
					    {{ site.street_address }}<br />
					{% if site.line_2 %}
					    {{ site.line_2 }}<br />
					{% endif %}
					{% if site.city %}
					    {{ site.city }}<br />
					{% endif %}
					{% if site.state %}
					    {{ site.state }}<br />
					{% endif %}
					{% if site.post_code %}
					    {{ site.post_code }}<br />
					{% endif %}
					{% if site.country %}
					    {{ site.country }}<br />
					{% endif %}
					</span>
				</div>
			</section>
			{% endif %}
			{% for key_value in site.socials %}
			<section>
				<div class="contact-method">
				<span class="icon alt fa-{{ key_value[0] | downcase }}"></span>
				<h3>{{ key_value[0] | capitalize }}</h3>
				<a href="{{ key_value[1] }}">{{ key_value[1] }}</a>
				</div>
			</section>
			{% endfor %}
		</section>
	</div>
</section>

<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			{%- comment -%} <ul class="icons">
				{% for key_value in site.socials %}
					{% if key_value[1] %}
						<li>
							<a href="{{ key_value[1] }}" class="icon alt fa-{{ key_value[0] | downcase }}" target="_blank" rel="noopener noreferrer" aria-label="{{ key_value[0] }}">
								<span class="label">{{ key_value[0] }}</span>
							</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul> {%- endcomment -%}
			<ul class="copyright">
				<li>&copy; {{ site.title }} {{ site.subtitle }}</li>
				<li>Design: <a href="https://html5up.net" target="_blank">HTML5 UP</a></li>
				<li>Jekyll integration: <a href="http://andrewbanchi.ch" target="_blank">Andrew Banchich</a></li>
			</ul>
		</div>
	</footer>

</div>

<!-- Scripts -->
	<script src="{{ "assets/js/jquery.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/skel.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/util.js" | absolute_url }}"></script>
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/respond.min.js" | absolute_url }}"></script><![endif]-->
	<script src="{{ "assets/js/main.js" | absolute_url }}"></script>
